.cuadro{
	background-color: #AFD9E3;
	color:#4C5275;
	width: 50%;
	height: 70%;
	margin-top: 5%;
	margin-left: 25%;
	position: absolute;
	font-size: 500%;
	font-family: arial;	
	text-align: center;
}

.cuadro2{
	background-color: #D5AFE3;
	color: #6A4C75;
	font-family: arial;
	font-size: 500%;
	text-align: center;
	width: 50%;
	height: 70%;
	margin-top: 5%;
	margin-left: 25%;
	position: absolute;
}

.cuadrototal{
	background: url("fondo.jpg");
	background-size: cover;
	width:100%;
	height: 100%;
	margin-top: -1%;
	margin-left: -1%;
	position: absolute;
}